[submodule "Acorn/vendor/ImNodes"]
	path = ./Acorn/vendor/ImNodes
	url = https://github.com/IcyTv/ImNodes
[submodule "./Acorn/vendor/ImPlot"]
	path = Acorn/vendor/ImPlot
	url = https://github.com/IcyTv/implot
[submodule "Acorn/vendor/nativefiledialog"]
	path = Acorn/vendor/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog
[submodule "Acorn/vendor/ImGuizmo"]
	path = Acorn/vendor/ImGuizmo
	url = https://github.com/TheCherno/ImGuizmo.git
[submodule "vendor/premake/cmake"]
	path = vendor/premake/cmake
	url = https://github.com/Enhex/premake-cmake
