[submodule "Acorn/vendor/v8pp"]
	path = Acorn/vendor/v8pp
	url = https://github.com/pmed/v8pp
[submodule "Acorn/vendor/tracy"]
	path = Acorn/vendor/tracy
	url = https://github.com/wolfpld/tracy
[submodule "subprojects/entt"]
	path = subprojects/entt
	url = https://github.com/skypjack/entt
[submodule "subprojects/stb_image"]
	path = subprojects/stb_image
	url = https://github.com/franko/stb_image
[submodule "Acorn/vendor/ImGuizmo"]
	path = Acorn/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
